<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee Shop</title>
</head>
<body>
<h1>Here is our menu</h1>

<form method="POST" th:object="${products}">

<div class="Product">
    <h3>Choose your product:</h3>
    <div th:each="product : ${products}">
        <input name="products" type="checkbox" th:unchecked="${product.id}" />
        <span th:text="${product.name}">PRODUCT</span><br/>


    </div>
</div>

    <div>
        <button>Submit your order</button>
    </div>
</form>



</body>
</html>